.div-promo {
    margin: 0 auto;
    background: transparent;
    width: 80%;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}
.box {
    height: 300px;
    width: 200px;
    background: #fff;
    margin-left: 8%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    display: inline-block;   
    border-radius: 5px;
    box-shadow: 12px 15px 20px rgba(0,0,0,.16);
    justify-items: center;
    align-items: center;
    text-align: center;
}
.box img {
    height: 150px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.box button {
    height: 40px;
    width: 90%;    
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;    
    left: 0;
    right: 0;
    bottom: 8px;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    background: url(https://www.devmedia.com.br/view/img/grid.png),  rgba(0, 126, 174, .85);
    border-width: 0px;
    color: #fff; 
      
}
.box button:hover {
    outline-color: #009688;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: none;
}
.button-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}